<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/345d42b9-5ca1-4189-a6d8-a8c32fe22d98/resourceGroups/DefaultResourceGroup-WUK/providers/Microsoft.Web/sites/HskApi20220623180039</ResourceId>
    <ResourceGroup>DefaultResourceGroup-WUK</ResourceGroup>
    <ApiResourceId>/subscriptions/345d42b9-5ca1-4189-a6d8-a8c32fe22d98/resourceGroups/DefaultResourceGroup-WUK/providers/Microsoft.ApiManagement/service/HskApiapi/apis/HskApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://hskapi20220623180039.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>509d7c7d-9675-45dc-8d19-f0a89a0bb48a</ProjectGuid>
    <MSDeployServiceURL>hskapi20220623180039.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HskApi20220623180039</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$HskApi20220623180039</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>